/* TODO
    - wtf margin?
*/

body {
    background-color: lightgray;
}
body > header {
    background-color: #CD5C5C;
    height: 4em;
    overflow-y: hidden;
}
.branding {
    color: darkslategray;
    margin: 0;
    padding: 0.4em 0;
    display:inline-block;

}
.menuButton {
    height: 1em;
    width: 1em;
    margin: 0 1em;
    background-color: darkslategray;
    display: inline-block;
}

.ideaBox {
/*    overflow-y: hidden;*/
    margin: 0 auto 1em;
    max-width: 40em;
}

.idea {
    background-color: white;
    margin: 1.25em 0.5em 0.5em;
/*    margin-top: ;*/
    padding: 1em 1em 0;
}

.idea:first-of-type {
    margin: 0.5em;
/*    margin-bottom: 0;*/
}
.ideaHeader {
    text-align: center;
}
.ideaLogo {
    width: 2em; height: 2em;
    float: left;
    background-color: cadetblue;
    background-image: url(http://lorempixel.com/100/100/abstract);
    margin-top: 0;
    border-radius: 100%;
}
.ideaTitle {
    margin: 0 1.25em 0;
    text-transform: capitalize;
}
.ideaDescription {
    font-family: serif;
    font-size: 1.25em;
    margin: 0;
    padding: 0.25em 0.25em;
    max-height: 5em;
    overflow: hidden;
    background: -webkit-linear-gradient(#333 76%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.voter {
    float: right;
    background-color: cadetblue;
    height: 2em; width: 2em;
    margin: 0;
    border-radius: 100%;
}



.readMore {
    color: white;
    background-color: darkslategray;
    font-size: 0.75em;
    position: relative; bottom: -1em;
    display: block;
    margin: -0.5em auto 0;

}
