/*
*/

header {
    background-color: indianred;
    height: 4em;
    overflow-y: hidden;
}
.title {
    color: darkslategray;
    margin: 0;
    padding: 0.4em 0;
    display:inline-block;

}
header .menuButton {
    height: 1em;
    width: 1em;
    margin: 0 1em;
    background-color: darkslategray;
    display: inline-block;
}
